$semantic-colors: (
	'link-primary': #007bff,
	'link-secondary': #6c757d,
	'link-warning': #f0b37e,
	'primary': #007bff,
	'secondary': #6c757d,
	'warning': #f0b37e,
) !default;

:root {
	@each $color, $value in $semantic-colors {
		--bdg-color-#{$color}: #{$value};
		--bdg-color-#{$color}-highlight: #{mix(black, $value, 15%)};
	}

	--bdg-color-white: #fff;
	--bdg-color-white-highlight: #{mix(black, #fff, 15%)};
}

@each $color, $value in $semantic-colors {
	.bdg-#{$color} {
		background-color: var(--bdg-color-#{$color}) !important;
		border-color: var(--bdg-color-#{$color}) !important;
		border-style: solid !important;
		border-width: 1px !important;
		color: var(--bdg-color-white) !important;

		& > p {
			color: var(--bdg-color-white) !important;
		}
	}

	a {
		&.bdg-#{$color}:focus,
		&.bdg-#{$color}:hover {
			background-color: var(--bdg-color-#{$color}-highlight) !important;
			border-color: var(--bdg-color-#{$color}-highlight) !important;
			color: var(--bdg-color-white-highlight) !important;
		}
	}

	button {
		&.bdg-#{$color}:focus,
		&.bdg-#{$color}:hover {
			background-color: var(--bdg-color-#{$color}-highlight) !important;
		}
	}
}

.bdg {
	border-radius: 0.25rem;
	display: inline-block;
	font-size: 0.75em;
	font-weight: 700;
	line-height: 1;
	padding: 0.35em 0.65em;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;

	&:empty {
		display: none;
	}
}

a.bdg {
	text-decoration: none;
}

.sd-btn .bdg {
	position: relative;
	top: -1px;
}
