div.code-toolbar > .toolbar > .toolbar-item > button.copy-to-clipboard-button {
	background-image: clay-icon(copy, $white);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 1rem;
	height: 1.5rem;
	width: 1.5rem;

	&[data-copy-state='copy-error'] {
		background-image: clay-icon(times-circle, $danger);
	}

	&[data-copy-state='copy-success'] {
		background-image: clay-icon(check, $success);
	}

	span {
		display: none;
	}
}
