@font-face {
	font-display: swap;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
    src: url(/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
	font-display: swap;
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/SourceSerifPro-Regular.ttf);
}