@font-face {
	font-display: swap;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
    src: url(/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
	font-display: swap;
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/SourceSerifPro-Regular.ttf);
}

body {
	font-family: 'Source Sans Pro', 'Source Serif Pro', -apple-system,
		blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}