.home-resources {
	display: grid;
	gap: 48px;
	grid-template-columns: repeat(auto-fit, 184px);
	grid-template-rows: 150px;
	max-width: 948px;
	padding: 0 1.3125rem;

	@media (max-width: 1200px) {
		gap: 24px;
		grid-template-columns: repeat(2, 184px);
	}

	@media (max-width: 576px) {
		grid-template-columns: repeat(1, 184px);
	}

	.resource {
		@include card;

		background-color: $white;
		min-width: 184px;
		padding: 1.8125rem $spacing-md;
		text-decoration: none;

		.icon {
			height: 3rem;
			width: 3rem;
		}

		.title {
			color: $color-neutral-10;
			letter-spacing: unset;
			padding-top: $spacing-md;
			text-transform: none;
		}
	}
}
