.home-cards {
	display: grid;
	gap: 48px;
	grid-template-columns: repeat(auto-fit, 254px);
	grid-template-rows: 130px;
	max-width: 948px;
	padding: 0 1.3125rem;

	@media (max-width: 1200px) {
		grid-template-columns: repeat(2, 254px);
	}

	@media (max-width: 576px) {
		grid-template-columns: repeat(1, 254px);
	}

	.product-card {
		@include card;

		background-color: $white;
		min-width: 254px;
		padding: 2.375rem $spacing-default;

		.icon {
			height: $spacing-lg;
			margin-right: $spacing-md;
			width: $spacing-lg;
		}

		.title {
			color: $color-neutral-10;
		}
	}
}
