.search-bar-suggestions {
	.input-group {
		width: 700px;

		@media (max-width: 576px) {
			width: 382px;
		}

		.input-group-inset-item .btn {
			padding-right: 1rem;
		}

		.input-group-inset-item-after {
			border-bottom-right-radius: 48px;
			border-top-right-radius: 48px;

			.lexicon-icon {
				color: $primary;
				fill: $primary;
				height: 2rem;
				width: 2rem;
			}
		}
	}

	.input-group-item {
		.input-group-inset-after.form-control {
			border-bottom-left-radius: 48px;
			border-top-left-radius: 48px;
			font-size: 1.125rem;
			line-height: 20px;
			padding: 2.25rem;

			&::placeholder {
				font-size: 18px;
			}
		}
	}
}
