.has-control-menu header.public-sites-navigation {
	margin-top: 3.5rem;
}

.has-control-menu.has-edit-mode-menu header.public-sites-navigation {
	margin-top: 0;
	position: static;
}

header.public-sites-navigation {
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	&.dark-nav {
		background-color: var(--color-brand-primary-darken-5);

		.liferay-logo {
			color: var(--white);
		}

		.svg-liferay-text,
		.svg-waffle {
			fill: var(--white);
		}

		.menu-btn, .close-btn {
			border-color: var(--white);

			.menu-btn-text, .close-btn-text {
				color: var(--white);
			}

			svg {
				fill: var(--white);
			}

			&:hover,
			&:active,
			&:focus {
				outline: 1px solid var(--white);
				outline-offset: 2px;
			}
		}
	}

	&.light-nav {
		color: var(--color-neutral-10);

		.svg-liferay-text {
			fill: var(--color-neutral-10);
		}

		.svg-waffle {
			fill: var(--color-brand-primary);
		}

		.menu-btn, .close-btn {
			border-color: var(--color-action-primary-default);

			.menu-btn-text, .close-btn-text {
				color: var(--color-action-primary-default);
			}

			svg {
				fill: var(--color-action-primary-default);
			}
		}
	}

	.btn-primary, .menu-btn, .close-btn {
		&:hover,
		&:active,
		&:focus {
			outline: 1px solid rgba(0, 83, 240, 0.5);
			outline-offset: 2px;
		}
	}

	.btn-primary {
		&:hover, &:active, &:focus {
			background-color: var(--color-action-primary-default-hover);
		}
	}

	.liferay-logo:hover,
	.liferay-logo .logo-text:hover {
		text-decoration: none;
	}

	.menu-button-group {
		.menu-btn {
			display: flex;
		}

		.close-btn {
			display: none;
		}

		&.menu-open {
			.menu-btn {
				display: none;
			}

			.close-btn {
				display: flex;
			}
		}
	}

	.nav-items-wrapper {
		align-items: stretch;
		background-color: var(--white);
		z-index: -1;
	}

	@media (max-width: 599px) {
		.nav-items-wrapper {
			&.menu-open {
				background-color: var(--white);
				height: 100vh;
				opacity: 1;
				transform: translateY(0);
				visibility: visible;
				z-index: 2;
			}
		}

		.nav-items-wrapper .cta-container-mobile {
			display: flex;
			padding: 0 1.5rem 10rem;
			width: 100%;
		}

		.cta-btn-nav {
			display: none;
		}
	}

	@media screen and (max-width: 991px) {
		.nav-items-wrapper {
			display: flex;
			flex-direction: column-reverse;
			top: 3.5rem;
			right: 0;
			left: 0;
			position: absolute;
			transform: translate3d(0, -150%, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
			transform-style: preserve-3d;
		}

		.menu-button-group {
			display: flex !important;
		}
	}

	@media (min-width: 600px) and (max-width: 1199px) {
		.nav-items-wrapper {
			position: absolute;
			transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

			&.menu-open {
				background-color: var(--white);
				height: 100vh;
				overflow: auto;
				top: 3.5rem;
				transform: translateY(0);
				visibility: visible;
				z-index: 2;
			}
		}
	}

	@media (min-width: 600px) {
		.cta-container-mobile {
			display: none;
		}
	}

	.menu-button-group {
		display: none;
	}
}

html body:not(.has-edit-mode-menu) .content #main-content.layout-content {
	margin-top: 3.5rem;
}
